<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TV shows!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <h1>Welcome {{user.first_name}}</h1>
    <div>
        <span>All TV Shows</span>
        <a href="/shows/new">+ Create</a>
        <a href="/session_clear">logout</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Network</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
                <th scope="col">Like!</th>
            </tr>
        </thead>
        <tbody>
            {% for show in allShows %}
            <tr>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                {% if user.id == show.user_id %}
                <td><a href="/shows/{{show.id}}">Show</a>
                    <a href="/shows/edit/{{show.id}}"> | edit | </a>
                    <a href="/delete/{{show.id}}">delete</a></td>
                {% else %}
                <td><a href="/shows/{{show.id}}">Show</a></td>
                {% endif %}
                <td>{% if user.id == show.user_id %}
                    <br>
                    {% elif user.id == show.liker_id %}
                    <a href="/unlike/{{user.id}}/{{show.id}}">Unlike</a>
                    {% else %}
                    <a href="/like/{{user.id}}/{{show.id}}">Like!</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>